# https://eslint.org/docs/rules/

settings:
  react:
    version: "detect"

env:
  es6: true
  node: true
  browser: true
  jest: true

parserOptions:
  sourceType: module
  ecmaVersion: 2018
  ecmaFeatures:
    jsx: true
    browser: true

parser: babel-eslint

plugins:
  - react
  - jsx-a11y
  - react-hooks

extends:
  - eslint:recommended
  - plugin:import/errors
  - plugin:import/warnings
  - plugin:react/recommended
  - plugin:jsx-a11y/recommended

rules:
  # Stylistic

  max-len:
    - error
    - 100
    - 2
    - ignoreUrls: true
  linebreak-style:
    - off
  indent:
    - error
    - 2
  comma-dangle:
    - error
    - never
  no-lonely-if: error
  no-unneeded-ternary: error
  no-whitespace-before-property: error
  block-spacing: error
  comma-spacing:
    - error
    - before: false
      after: true
  semi:
    - error
    - never
  keyword-spacing:
    - error
    - before: true
  object-curly-spacing:
    - error
    - always
  array-bracket-spacing:
    - error
    - never
    - singleValue: true
      objectsInArrays: true
  arrow-spacing: error
  arrow-parens:
    - error
    - as-needed
  arrow-body-style:
    - error
    - as-needed

  # Best practices
  no-plusplus: error
  no-var: error
  no-else-return: error
  no-multi-spaces: error
  no-eval: error
  no-console: 'off'
  object-shorthand: error
  prefer-arrow-callback: warn
  prefer-destructuring:
    - warn
    - object: true
      array: true
  strict: 0

  # React
  react-hooks/rules-of-hooks: error
  react-hooks/exhaustive-deps: warn
  react/no-deprecated: 'off'
  react/display-name: 'off'
  react/prop-types:
    - error
    - ignore:
      - match
      - history
      - children
